*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  /* background-image: linear-gradient(30deg,#1c282e,#6a8595); */
}
body{
  overflow-x: hidden;
  position: relative;
}

/* .nav-ul li{
  display: inline-block;
  padding: 10px;
  
} */

.nav-color{
  background: #153291dc;
}

.nav-ul li {
  display: inline-block;
    color: #7468a5;
    text-decoration: none;
    padding: 5px;
    
}

.nav-ul li :hover{
  text-decoration: none;
  color: #180369;
}

/* .nav-ul{
  padding: 5px;
    margin: 0;
    background: white;
    padding: 3px;
    font-size: large;
} */


.nav-ul li a{
    color: black;
    text-decoration: none;
    padding: 5px;
    
}

.nav-ul li :hover{
  color: #180369;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
}
.carousel-item img{
  width: 100%;
  height: 70vh;
  padding-top: 97px;
}

.nav-right{
  text-align: right;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.mb-3{
  margin: 10px;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




/* responsive css code 
X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

